#header #gs-options-link
{
  background: #888 url(chrome://grooveshredder/skin/shark-s.png) no-repeat 4px center;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 2px 5px 2px 24px;
  line-height: 20px;
  margin: 7px 0;
  -moz-border-radius: 2px;
}

#header #gs-options-link:hover
{
  background-color: #aaa;
}

#playerDetails_nowPlaying #playerDetails_grooveShredder,
.meta b#playlistName_grooveShredder 
{
  position: relative;
  cursor:pointer;
  color: #fff;
  font-weight: normal;
  margin-left: 10px;
  padding: 2px 4px 2px 24px;
  -moz-border-radius: 2px;
  background: #888 url(chrome://grooveshredder/skin/shark-s.png) no-repeat 4px center;
}

#playerDetails_nowPlaying #playerDetails_grooveShredder:hover {
  background-color: #aaa;
}

.meta b#playlistName_grooveShredder {
  float: left;
  margin-top: 3px;
  font-size: 12px;
  padding: 3px 4px 3px 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  background-color: #aaa;
}

.meta b#playlistName_grooveShredder:hover {
  background-color: #888;
}

#gs_menu_item:hover {
	background: none repeat scroll 0 0 #D8EBF8;
	border-bottom: 1px solid #98CBEE;
	border-top: 1px solid #98CBEE;
	color: #276086;
	padding: 5px 7px;
}

#gs_menu_item .icon {
	background: url(chrome://grooveshredder/skin/shark-s.png) no-repeat;
}

#groove-blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.2;
	z-index: 1000;
}

#application{
  margin-right: 0px !important;
}

#capital{
  width: 0px !important;
}
